
* {
    margin: 0px;
    padding: 0px;
    position: relative;
}

html,
body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(155, 7, 1);
}

.main-container {
    display: grid;
    height: 100%;

    grid-template-rows: 1fr 12fr 1fr;
}

.row-one,
.row-two,
.row-three {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
}

.row-two {
    background-color: #003cff
}

.row-three {}

.container-padding {
    margin: 12px;
    border: 1px dashed #000000;
}